<!DOCTYPE HTML>
<html>
  <head>
      <title>Cittadino</title>
      {% load static %}
      <link rel="shortcut icon" href="{% static 'img/GOOFY_HOSPITAL__1_.png' %}" />
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </head>

  <body>
    <div id="header">
      {% include 'header.html' %}
    </div>

    <div id="navigation">
      {% include 'navigation.html' %}
    </div>

    <div id="search-filter">
      <form id="form_cittadini" action="{% url 'cittadino' %}" method="post">
        {% csrf_token %}
        <button type="button" class="reset" onClick="resetFormC()"><span class="reset">Reset &#128260</span></button>
        <input type="text" value="{{ filtro_cssn }}" placeholder="CSSN" id="filtro_cssn" name="filtro_cssn" pattern="CSSN\d+" class="code_input" title="Il codice deve essere nel formato CSSN seguito da almeno un numero.">
        <input type="text" value="{{ filtro_nome }}" placeholder="Nome" id="filtro_nome" name="filtro_nome">
        <input type="text" value="{{ filtro_cognome }}" placeholder="Cognome" id="filtro_cognome" name="filtro_cognome">
        <input type="date" value="{{ filtro_data_nascita }}" placeholder="Data di Nascita" id="filtro_data_nascita" name="filtro_data_nascita">
        <input type="text" value="{{ filtro_luogo_nascita }}" placeholder="Luogo di Nascita" id="filtro_luogo_nascita" name="filtro_luogo_nascita">
        <input type="text" value="{{ filtro_indirizzo }}" placeholder="Indirizzo" id="filtro_indirizzo" name="filtro_indirizzo" pattern="^[A-Za-z\s]+,\s\d+$" title="L'indirizzo deve essere nel formato 'Nome della Via, Numero Civico'.">
        <button type="submit"><span>Cerca &#128269</span></button>
      </form>
    </div>

    <div id="content">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th onclick="sortTable(0)">CSSN ↕</th>
              <th onclick="sortTable(1)">Nome ↕</th>
              <th onclick="sortTable(2)">Cognome ↕</th>
              <th onclick="sortTable(3)">Data di Nascita ↕</th>
              <th onclick="sortTable(4)">Luogo di Nascita ↕</th>
              <th onclick="sortTable(5)">Indirizzo ↕</th>
            </tr>
          </thead>
          <tbody>
            {% for cittadino in results %}
            <tr>
              <td>{{ cittadino.cssn }}</td>
              <td>{{ cittadino.nome }}</td>
              <td>{{ cittadino.cognome }}</td>
              <td>{{ cittadino.DataNascita }}</td>
              <td>{{ cittadino.LuogoNascita }}</td>
              <td>{{ cittadino.indirizzo }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br><br><br>
    <div id="footer">
      {% include 'footer.html' %}
    </div>
  </body>
</html>
